<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Load Bootstrap 4 CSS | DO NOT REMOVE -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="">

    <!-- Load Bootstrap 4 & Jquery | DO NOT REMOVE -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!-- Required META tag by Bootstrap | DO NOT REMOVE -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load Layout Base Tag -->
    <link rel="stylesheet" type="text/css" href="/public/css/base_styles.css">
    <link rel="shorcut icon" href="/public/img/ristekdikti2.png">
    <title>Admin - Input Ijazah</title>
    <!-- Input CSS atau JS yang dibutuhkan setelah line ini -->
    <!-- Taruh file css di folder /css-->
    <!-- Taruh file js di /js-->

    <!-- Contoh cara input css, ganti sesuai kebutuhan -->
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row equal no-gutters">
            <%- include("sidebar.ejs") %>
            <div class="col-12 col-sm-8 col-md-9 col-xl-10 wrapper">
                <%- include("topmenu.ejs") %>
                <div class="col-12 wrapper-container">
                    <div class="main-wrapper">
                        <div class="container">

                            <div class="row">
                                <!-- Silakan masukkan code tampilan divisi Anda di bagian ini. -->

                                <!-- Dibawah ini adalah template box yang kalian bisa pakai untuk pengembangan sistem -->
                                <div class="col-md-12">
                                    <% if (typeof message !== 'undefined') { %>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <%= message %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <% } %>
                                    <div class="box">
                                        <div class="box-header">
                                            Input Data Ijazah
                                        </div>
                                        <div class="box-body">
                                            <form action="/sertifikat" method="post" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="nomor">Nomor</label>
                                                    <input name='nomor' type="text" value="WWW" class="form-control" id="nomor">
                                                </div>
                                                <div class="form-group">
                                                    <label for="logo">Logo Universitas</label>
                                                    <input name='logo' type="file" class="form-control" id="logo">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pas">Pas Foto</label>
                                                    <input name='pas' type="file" class="form-control" id="pas">
                                                </div>
                                                <div class="form-group">
                                                    <label for="lembaga">Nama Lembaga</label>
                                                    <input name='lembaga' type="text" class="form-control" id="lembaga">
                                                </div>
                                                <div class=" form-group">
                                                    <label for="exampleFormControlInput1">Nama</label>
                                                    <input name='nama' type="text" class="form-control"
                                                        id="exampleFormControlInput1">
                                                </div>
                                                <div class="form-group">
                                                    <label for="gelar">Gelar</label>
                                                    <input name='gelar' type="text" class="form-control" id="gelar">
                                                </div>
                                                <div class="form-group">
                                                    <label for="ttl">Tempat, Tanggal Lahir</label>
                                                    <input name='ttl' type="text" class="form-control" id="ttl">
                                                </div>
                                                <div class="form-group">
                                                    <label for="nim">Nomor Induk Mahasiswa</label>
                                                    <input name='nim' type="text" class="form-control" id="nim">
                                                </div>
                                                <div class="form-group">
                                                    <label for="jenjang">Jenjang Pendidikan</label>
                                                    <select class="form-control" id="jenjang" name="jenjang">
                                                        <option selected>-- Pilih Jenjang Pendidikan --</option>
                                                        <option>S1</option>
                                                        <option>S2</option>
                                                        <option>S3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="prodi">Program Studi</label>
                                                    <input name='prodi' type="text" class="form-control" id="prodi">
                                                </div>
                                                <div class="form-group">
                                                    <label for="tglLulus">Tanggal Lulus</label>
                                                    <input name='tglLulus' type="date" class="form-control"
                                                        id="tglLulus">
                                                </div>
                                                <div class="form-group">
                                                    <label for="rektor">Rektor</label>
                                                    <input name='rektor' type="text" class="form-control" id="rektor">
                                                </div>
                                                <div class="form-group">
                                                    <label for="rektor">NIP Rektor</label>
                                                    <input name='nipRektor' type="text" class="form-control"
                                                        id="nipRektor">
                                                </div>
                                                <div class="form-group">
                                                    <label for="dekan">Dekan</label>
                                                    <input name='dekan' type="text" class="form-control" id="dekan">
                                                </div>
                                                <div class="form-group">
                                                    <label for="dekan">NIP Dekan</label>
                                                    <input name='nipDekan' type="text" class="form-control"
                                                        id="nipDekan">
                                                </div>
                                                <button type="submit" class="btn btn-primary"
                                                    style="background-color:#1c3b61;">Add Ijazah</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <!--<script src="/public/js/sha256.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script src="/public/js/notaryWebLib.js"></script>
    <script src="/public/js/app2.js"></script>-->
    <!-- TODO: Step 1: Include Fortmatic SDK Script -->
    <script src="/public/fortmatic/dist/fortmatic.js"></script>

</body>

</html>