<div class="col-12 col-sm-4 col-md-3 col-xl-2 p-0 sidebar-container">
    <nav>
        <div class="row no-gutters">
            <div class="sidebar">
                <div class="headers">
                    <div class="">

                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <a href="/admin">
                            <li>
                                <ion-icon name="document"></ion-icon><text>Ijazah</text>
                            </li>
                        </a>
                        <a href="/transkrip">
                            <li>
                                <ion-icon name="document"></ion-icon><text>Transkrip</text>
                            </li>
                        </a>
                        <!-- <a href="/blockchain">
                            <li>
                                <ion-icon name="finger-print"></ion-icon><text>Blockchain</text>
                            </li>
                        </a> -->

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>