<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/z/check" method="POST"  id="check" enctype="multipart/form-data">

    <input type="file" name="mdm">
    <input type="text" name="x" value="asd">
    <input type="submit">
</form>
</body>
</html>